@model IEnumerable<R12VIS.Models.EthnicGroup>

@{
    ViewBag.Title = "Index";
}

<script>
    var navItem = document.getElementById('nav-item-file-maintenance');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('file-maintenance-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-file-maintenance-ethnic-group');
    navLinkChild.classList.remove('collapsed');
</script>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Blank Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Priority Group</a></li>
                <li class="breadcrumb-item">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ethnic Group List</h5>
                <p>
                    <a class="btn btn-primary" href="@Url.Action("Create", "EthnicGroups")"><i class="bi bi-person-add"></i> New </a>
                </p>
                <table class="table table-bordered" id="myTable">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IndigenousMember)
                        </th>
                        <th>Actions</th> <!-- Add this line for the second column -->
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="width:90%">
                                @Html.DisplayFor(modelItem => item.IndigenousMember)
                            </td>
                            <td style="width:10%">
                                <a class="link-primary" href="@Url.Action("Edit", "EthnicGroups", new { id = item.Id })"><i class="bi bi-pencil-square"></i></a>
                                <a class="link-secondary" href="@Url.Action("Details", "EthnicGroups", new { id = item.Id })"><i class="bi bi-filter-square"></i></a>
                                <a class="link-danger" href="@Url.Action("Delete", "EthnicGroups", new { id = item.Id })"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>

</main><!-- End #main -->


@section scripts
{
    <script src="~/Content/DataTable/cdn.datatables.net_1.13.4_js_jquery.dataTables.min.js"></script>
    @*<script src="~/Content/DataTable/cdn.datatables.net_1.13.4_js_dataTables.bootstrap5.min.js"></script>*@
    <script src="~/Content/DataTable2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "bordered": true,
                "columns": [
                    { "title": "Ethnic Group" },
                    { "title": "" }
                ]
            });
        });
    </script>
}


