@model IEnumerable<R12VIS.Models.Role>

@{
    ViewBag.Title = "Index";
}

<script>
    var navItem = document.getElementById('nav-item-file-maintenance');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('file-maintenance-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-file-maintenance-user-role');
    navLinkChild.classList.remove('collapsed');
</script>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Role</h1>
        <nav>
            <ol class="breadcrumb">
                @*<li class="breadcrumb-item"><a href="index.html">Home</a></li>*@
                <li class="breadcrumb-item">Role</li>
                <li class="breadcrumb-item active">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Role List</h5>
                <p>
                    @*@Html.ActionLink("Create New", "Create")*@
                    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="bi bi-person-add"></i> Create New</a>
                </p>
                <table class="table table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th style="width:60%">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th style="width:34%">
                                @Html.DisplayNameFor(model => model.Access)
                            </th>
                            <th style="width:6%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Access)
                                </td>
                                <td>
                                    <a class="link-primary" href="@Url.Action("Edit","Roles", new { id = item.Id })"><i class="bi bi-pencil-square"></i></a>
                                    <a class="link-secondary" href="@Url.Action("Details","Roles", new { id=item.Id})"><i class="bi bi-filter-square"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</main><!-- End #main -->
@section scripts
{
    <script src="~/Content/DataTable/cdn.datatables.net_1.13.4_js_jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTable2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}