@model IEnumerable<R12VIS.Models.Role>

@{
    ViewBag.Title = "Index";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add</h1>
        <nav>
            <ol class="breadcrumb">
                @*<li class="breadcrumb-item"><a href="index.html">Home</a></li>*@
                <li class="breadcrumb-item">Roles</li>
                <li class="breadcrumb-item active">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Default Card</h5>
                <p>
                    @*@Html.ActionLink("Create New", "Create")*@
                    <a href="@Url.Action("Create")" class="btn btn-primary"><i class="bi bi-person-add"></i> Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Access)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Access)
                                </td>
                                <td>
                                    <a class="link-dark" href="@Url.Action("Edit","Roles", new { id = item.Id })"><i class="bi bi-pencil-square"></i></a>|
                                    <a class="link-dark" href="@Url.Action("Details","Roles", new { id=item.Id})"><i class="bi bi-filter-square"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</main><!-- End #main -->
