@model R12VIS.Models.ViewModel._PersonProfile

<script>
    var navLink = document.getElementById('nav-item-link-individuals');
    navLink.classList.remove('collapsed');
</script>

@if (Model.Vaccinations.Count() > 0)
{
    <table class="table table-striped table-sm" id="myTable">
        <thead>
            <tr>
                <th>
                    Dose
                </th>
                <th>
                    Category
                </th>
                <th>
                    Vaccine
                </th>
                <th>
                    Date
                </th>
                <th>
                    CBCRID 
                </th>
                <th>
                    Vaccinator
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Vaccinations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dose.VaccineDose)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriorityGroup.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vaccine.VaccineManufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VaccinationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BakunaCenterCBCRID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VaccinatorName)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No records found.</p>
}

