@model R12VIS.Models.Person

@{
    ViewBag.Title = "Delete";
}

<script>
    var navLink = document.getElementById('nav-item-link-individuals');
    navLink.classList.remove('collapsed');
</script>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Barangay.barangay_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barangay.barangay_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityMunicipality.CityMunicipalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityMunicipality.CityMunicipalityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EthnicGroup.IndigenousMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EthnicGroup.IndigenousMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province.province_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province.province_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UniquePersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UniquePersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPWD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
