@model R12VIS.Models.CityMunicipality

@{
    ViewBag.Title = "Details";
}

<script>
    var navItem = document.getElementById('nav-item-file-maintenance');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('file-maintenance-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-file-maintenance-citumun');
    navLinkChild.classList.remove('collapsed');
</script>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>City/Municipality</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">City/Municipality</li>
                <li class="breadcrumb-item active">Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">City / Municipality Details</h5>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div>
                                    <hr />
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Province.province_name)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.Province.province_name)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CityMunicipalityName)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CityMunicipalityName)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ProvinceCode)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ProvinceCode)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CityMunicipalityCode)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CityMunicipalityCode)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.ZipCode)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ZipCode)
                                        </dd>

                                        <dt>
                                            @Html.DisplayNameFor(model => model.CityMunicipalityCodeExcel)
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.CityMunicipalityCodeExcel)
                                        </dd>

                                    </dl>
                                </div>
                                <div class="row">
                                    <div class="col text-end pt-3">
                                        <a href="@Url.Action("Edit", new { id = Model.city_municipality_id })" class="btn btn-outline-primary">Edit</a>
                                        <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>