@model R12VIS.Models.User

@{
    ViewBag.Title = "Details";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Blank Page</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Pages</li>
                <li class="breadcrumb-item active">Blank</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Details</h5>

                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label ">Full Name</div>
                            <div class="col-lg-9 col-md-8">@Model.FirstName @Model.MiddleName @Model.LastName</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label ">Title</div>
                            <div class="col-lg-9 col-md-8">@Model.Role.Title</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label ">Email</div>
                            <div class="col-lg-9 col-md-8">@Model.Email</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label ">Active</div>
                            <div class="col-lg-9 col-md-8">@Model.isActive</div>
                        </div>


                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
