@model IEnumerable<R12VIS.Models.Vaccination>

@{
    ViewBag.Title = "Index";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Master List</h1>
        <nav>
            <ol class="breadcrumb">
                @*<li class="breadcrumb-item"><a href="index.html">Home</a></li>*@
                <li class="breadcrumb-item">Vaccination</li>
                <li class="breadcrumb-item active">Index</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Default Card</h5>

                <p>
                    <a class="btn btn-primary" href="@Url.Action("PreVaccination", "Vaccinations")"><i class="bi bi-pencil-square"></i>New Vaccination</a>
                </p>
                <table class="table table-bordered display nowrap dataTable no-footer" id="myTable">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Dose.VaccineDose)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.PriorityGroup.Category)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Vaccine.VaccineManufacturer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Person.Province.province_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Person.CityMunicipality.CityMunicipalityName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Person.Barangay.barangay_name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VaccinationDate)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.BakunaCenterCBCRID)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Details","People", new {id = item.PersonID})">@item.Person.LastName, @item.Person.FirstName</a>
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Dose.VaccineDose)
                                </td>
                 
                                <td>
                                    @Html.DisplayFor(modelItem => item.PriorityGroup.Category)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vaccine.VaccineManufacturer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Person.Province.province_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Person.CityMunicipality.CityMunicipalityName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Person.Barangay.barangay_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VaccinationDate)
                                </td>
                       
                                <td>
                                    @Html.DisplayFor(modelItem => item.BakunaCenterCBCRID)
                                </td>
                            
                                <td>
                                    <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("PreVaccination","Vaccinations", new { id = item.PersonID } )"><i class="bi bi-bandaid-fill"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </section>

</main><!-- End #main -->

@section scripts
{
    <script src="~/Content/DataTable/cdn.datatables.net_1.13.4_js_jquery.dataTables.min.js"></script>
    <script src="~/Content/DataTable2/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}