@model IEnumerable<R12VIS.Models.Vaccination>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adverse.Event)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deferral.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dose.VaccineDose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.UniquePersonID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriorityGroup.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vaccine.VaccineManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityMunicipalityID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarangayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaccinationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LotNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BakunaCenterCBCRID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VaccinatorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adverse.Event)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deferral.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dose.VaccineDose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.UniquePersonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriorityGroup.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vaccine.VaccineManufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityMunicipalityID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarangayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaccinationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LotNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BakunaCenterCBCRID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VaccinatorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
