@model R12VIS.Models.PriorityGroup

@{
    ViewBag.Title = "Edit";
}

<script>
    var navItem = document.getElementById('nav-item-file-maintenance');
    navItem.classList.remove('collapsed');
    var navLink = document.getElementById('file-maintenance-nav');
    navLink.classList.remove('collapse');
    var navLinkChild = document.getElementById('nav-item-link-file-maintenance-priority-group');
    navLinkChild.classList.remove('collapsed');
</script>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Priority Group</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Priority Group</li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Update Priority Group Details</h5>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Category, "Priority Group Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-end pt-3">
                                        <input type="submit" value="Update" class="btn btn-primary" />
                                        <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
